# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pylintrc

# Database
*.sqlite3
*.db

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django
staticfiles/
media/

# Environment variables (ВАЖНО!)
.env
.env.*
!.env.example
!env.template

# Docker
*.log
README.md
