Django==4.2.9
psycopg2-binary==2.9.9
pgvector==0.2.4
gunicorn==21.2.0
pdfminer.six==20240706
python-docx==1.1.0
PyMuPDF==1.23.25
Pillow==10.2.0
numpy==1.24.3
transformers==4.35.0
sentence-transformers==2.5.1
huggingface_hub==0.19.4
celery==5.3.4
redis==5.0.1
flower==2.0.1
ldap3==2.9.1
cryptography==44.0.0
pymystem3==0.2.0
requests==2.32.3
