Django==4.2.9
psycopg[binary]
psycopg2-binary==2.9.9
pgvector==0.2.4
gunicorn==21.2.0
whitenoise==6.6.0
pdfminer.six==20240706
python-docx==1.1.0
PyMuPDF==1.23.25
Pillow==10.2.0
numpy==1.24.3
lxml>=4.9.3,<6.0.0
sentence-transformers==2.3.1
transformers==4.37.2
huggingface_hub==0.20.3
celery==5.3.4
redis==5.0.1
flower==2.0.1
django-debug-toolbar==4.2.0
ldap3==2.9.1
cryptography>=42.0.8
pymystem3==0.2.0
requests==2.32.3
qrcode==7.4.2
