{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <title>File PDF</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body class="file-body">
  <section class="file">
    <div class="file__top">
      <div class="file__logo">
        <img src="{% static 'assets/img/plagiat-logo.svg' %}" alt="БГУИР.ПЛАГИАТ" />
      </div>
      <div class="file__title-block">
        <h1 class="file__title-h1">Справка</h1>
        <p class="file__title-text">
          о результатах проверки тестового документа<br />
          на наличие заимствований
        </p>
      </div>
      <div class="file__info">



       <div class="file__info">
      <div class="info__title">ПРОВЕРКА ВЫПОЛНЕНА В СИСТЕМЕ БГУИР.ПЛАГИАТ</div>

      <div class="border border--first"></div>

      <div class="info__items">
        <div class="info-block">
          <div class="info-block__title">Автор работы:</div>
          <div class="info-block__value">{{document.user.last_name}} {{document.user.first_name}} {{document.user.sur_name }}</div>
        </div>

        <div class="info-block">
          <div class="info-block__title">Тип работы:</div>
          <div class="info-block__value">{{ document.type.name }}</div>
        </div>

        <div class="info-block">
          <div class="info-block__title">Название работы:</div>
          <div class="info-block__value">
            {{ document.name }}
          </div>
        </div>
      </div>

      <div class="border"></div>

      <div class="info__results">
        <div class="info-block">
          <div class="info-block__title">Результаты:</div>
          <div class="info__results-items">
            <div class="info__results-item">
              <div class="info__results-title">Совпадения</div>
              <div class="info__results-bar info__results-bar--sov">
                <div></div>
                <div style="width: {{similarity}}%;"></div>
              </div>
              <div class="info__results-percent">{{doc_similarity}}%</div>
            </div>
            <div class="info__results-item">
              <div class="info__results-title">Оригинальность</div>
              <div class="info__results-bar info__results-bar--orig">
                <div></div>
                <div style="width: {{result}}%;"></div>
              </div>
              <div class="info__results-percent">{{document.result}}%</div>
            </div>
          </div>
        </div>
      </div>

      <div class="border"></div>

      <div class="info-block">
        <div class="info-block__title">Дата проверки:</div>
        <div class="info-block__value">
          <span>{{document.time_created|date:"d.m.y H:i"}}</span>
        </div>
      </div>

      <div class="info__tutor">
        <div class="info-block">
          <div class="info-block__title">Работу проверил (а):</div>
          <div class="info-block__value underline">
            <span>{{document.last_status_changed_by.last_name}} {{document.last_status_changed_by.first_name}} {{document.last_status_changed_by.sur_name}} </span>
          </div>
        </div>

        <div class="info__signatures">
          <div class="info-block">
            <div class="info-block__title">Дата подписи:</div>
            <div class="info-block__value underline" style="width: 38mm">
              <span></span>
            </div>
          </div>

        <!-- Остальная часть кода -->



        <div class="info-block__title" style="width: 44mm">Подпись проверяющегося:</div>
        <div class="info-block__value underline" style="width: 49mm">
          <span></span>
        </div>
      </div>
    </div>

    <div class="file__qr-blocks">
      <div class="file__qr-block">
        <div class="file__qr-block-img">
          <img src="{% static 'assets/img/qr-code.png' %}" alt="QR код" />
        </div>
        <div class="file__qr-block-txt">
          Чтобы убедиться в подлинности справки, используйте QR-код, который содержит ссылку на справку.
        </div>
      </div>
      <div class="file__qr-block">
        <div class="file__qr-block-img">
          <img src="{% static 'assets/img/qr-code.png' %}" alt="QR код" />
        </div>
        <div class="file__qr-block-txt">
          Чтобы просмотреть документ в репозитории БГУИР, используйте QR-код, который содержит ссылку на документ.
        </div>
      </div>
    </div>
  </div>

  <div class="file__bottom">
    <div class="file__bottom-icon">
      <img src="{% static 'assets/img/bsuir-logo.png' %}" alt="Логотип БГУИР" />
    </div>
    <div class="file__bottom-txt">
      Белорусский государственный университет <br />
      информатики и радиоэлектроники
    </div>
  </div>
</section>

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>